#Educacion{
    background-image: url(/assets/IMG/wallpaperbetter.com_1920x1080a.jpg);
    font-family: Lobster;
    align-items: center;
    border:3px solid rgba(10, 10, 10, 0.514);
    border-radius:22px;
}