<section id="Educacion" class="Educacion">
    <div class="container text-center">
      <div class="row">
        <div class="col-3 mt-4">
          <h3>Educacion</h3>
          <div class="espacio">
            
            
          </div>
        </div>
        <div class="col-6 mt-4">
          <h6><p><span class="rojo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate in temporibus sequi sit consectetur nisi odio aliquam necessitatibus cumque doloremque? Ratione exercitationem assumenda sequi, in laborum maxime provident quisquam excepturi?</span></p></h6>
          <br>
          <h6><p><span class="rojo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate in temporibus sequi sit consectetur nisi odio aliquam necessitatibus cumque doloremque? Ratione exercitationem assumenda sequi, in laborum maxime provident quisquam excepturi?</span></p></h6>
          <br>
        <h6><p><span class="rojo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate in temporibus sequi sit consectetur nisi odio aliquam necessitatibus cumque doloremque? Ratione exercitationem assumenda sequi, in laborum maxime provident quisquam excepturi?</span></p></h6>
          
        </div>
        <div class="col-3 mt-4">
          <button class= "btn btn-close-white edit skils"

        *ngIf="mostrarDatos === true">
        <i class= "fa-solid fa-pencil"></i>
        <i class= "fa-solid fa-pencil"></i>
      </button>
          
        </div>
      </div>
    </div>
  </section><br><br>

