     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-auto">
                      <label for="staticEmail2" class="visually-hidden">Email</label>
                      <input type="text" class="form-control-plaintext" id="staticEmail2" value="email@ejemplo.com">
                    </div>
                    <div class="col-auto">
                      <label for="inputPassword2" class="visually-hidden">Password</label>
                      <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                    </div>
                </form>
            </div>
            


            <div class="modal-footer">
              <button type="button" class="btn btn-primary"(click) = "onShowHide()" [class.showingData]="mostrarDatos === true">Iniciar Sesion></button>
              
            </div>
          </div>
        </div>
        
      </div>
      

